[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/philsquared/Catch.git
	ignore = dirty
[submodule "lib/hippomocks"]
	path = lib/hippomocks
	url = https://github.com/dascandy/hippomocks
	ignore = dirty
[submodule "lib/sfml2.3.2_w64"]
	path = lib/sfml2.3.2_w64
	url = git@github.com:seungrye/SFML2.3.2_VS2015_x64.git
	ignore = dirty
